<div class="container">
  <div class="card m-auto" style="width: 300px;">
    <div class="card-header">
      <h2  *ngIf="brain.trained">Draw here:</h2>
      <p *ngIf="!brain.trained"   style="margin: 1rem;">Training, please wait...</p>      
    </div>
    <div class="card-img-top" id="drawDiv">
      <canvas id="canvas1" class="drawingCanvas" id=c1 width=298 height=298 #drawingCanvas></canvas>
      <canvas style="visibility: hidden;" id="canvas2" #canvas2 width="28" height="28"></canvas>
    </div>
    <div class="card-footer  text-center">
      <button class="btn btn-primary" (click)="onPredict()" [disabled]="!brain.trained">Predict</button>
      <button class="btn btn-primary" (click)="onRandom()" [disabled]="!brain.trained">Random</button>
      <br>
      <input type="checkbox" [(ngModel)]="instandPredict">
      <label class="ml-1">Instant Predict</label>
    </div>
  </div>

  <div class="scroll">
    <h2>Results:</h2>
    <hr>
    <div class="predictionResult" id="predictionResult"></div>
  </div>
  
</div>


