
<div class="drawing">
  <canvas id="canvas1" class="drawingCanvas" id=c1 width=280 height=280 #drawingCanvas>

  </canvas>

  <canvas style="visibility: hidden;" id="canvas2" #canvas2 width="28" height="28"></canvas>

</div>

<input type="checkbox" [(ngModel)]="instandPredict">
<label>Instant Predict</label>
<button (click)="onPredict()" [disabled]="!brain.trained">Predict</button>
<button (click)="onRandom()" [disabled]="!brain.trained">Random</button>
<p *ngIf="!brain.trained">Training, please wait...</p>
<hr>

<h2>Results:</h2>
<div id="predictionResult"></div>

<!-- <div class="test">
    <canvas id="canvas"></canvas>
    <button (click)="onPredict()">Predict</button>
  </div> -->


