/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

h2 {
    font-size: 26px;
    margin: 0;
}

.card {
    width: 282px;
    margin-top: 20px !important;
}

button {
    margin: 10px;
}

.card-img-top {
    height: 280px;
}

.prediction-canvas{
    width: 100px;
    margin: 20px;
}

.prediction-div {
    display: inline-block;
    margin: 10px;
    width: 150px;
}
